body {
    background-color: rgb(245, 237, 222);
}
body {
    cursor: url('cursor.png'), auto;
}

.parent-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 15px);
}

.parent-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 30px);
  }

.parent-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 30px);
}