body {
    background-color: rgb(245, 237, 222);
}
body {
    cursor: url('cursor.png'), auto;
}

.parent-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.header {
      display: flex;
      justify-content: center;
      align-items: center;
}

.parent-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 100px);
    }

.parent-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0px, -312px);
        }
        .parent-3 img { 
            height: auto; 
            opacity: 0;
            transition: opacity 0.2s ease; 
          } 
           
          .parent-3:hover img { 
            opacity: 1; 
          }

.parent-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -250px);
    }

.parent-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -200px);
    }
